body {
    font-family: "Roboto Mono", sans-serif;
    background: #111111;
    margin: 0px;
    background-image: radial-gradient(#333333 20%, transparent 20%),
    radial-gradient(#333333 20%, transparent 20%);
    background-color: #111111;
    background-position: 0 0, 5px 5px;
    background-size: 10px 10px;
}

label {
    font-family: "Roboto Mono", sans-serif;
    font-size: 36px;
    color: white;
    background: #101010;
    border: 2px solid white;
    border-radius: 0px;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    position: absolute;
    z-index: +1000;
}

video {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
}

#player {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
}

#message {
    position: absolute;
    left: 500px;
    z-index: +1000;
}

#canvas {
    position: absolute;
}
