<html lang=”en”>

    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

        <!-- Name of the app -->
        <title>foto</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <script src="static/script.js"></script>
        <link rel="shortcut icon" href="">
    </head>

    <body id="rootElement">
        <!-- <img id="img" style="visibility:hidden;" src={{ img_path }} /> -->

        <button id="start-camera">Start Camera</button>
        <video id="video" width="555" height="555" autoplay></video>
        <button id="click-photo">Click Photo</button>
        <canvas id="canvas" width="555" height="555"></canvas>

        <label id="save-label">
            SAVE MODEL
        </label>

    </body>

</html>