<html lang=”en”>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

        <!-- Name of the app -->
        <title>foto</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <script type="text/javascript" src="static/script.js"></script>
        <script type="text/javascript" src="static/webcam.min.js"></script>
        <link rel="shortcut icon" href="">

    </head>

    <body id="rootElement">
        <!-- <img id="img" style="visibility:hidden;" src={{ img_path }} /> -->

        <div id="player"></div>

        <label id="save-label">
            SAVE MODEL
        </label>

    </body>

</html>