<html lang=”en”>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">

        <!-- Name of the app -->
        <title>foto</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="static/css/preview.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <script type="text/javascript" src="static/js/preview.js"></script>
        <link rel="shortcut icon" href="">

    </head>

    <body id="rootElement">
        <!-- <img id="img" style="visibility:hidden;" src={{ img_path }} /> -->


        <form id="form">
            <input type="text" id="userName" name="userName" placeholder="your unique name" style="width:75%" onkeypress="return event.charCode != 32">
        </form>

        <label class="mylabel" id="submit-button" align="center">
            SUBMIT
        </label>

        <p id="message" style="color:white;"></p>

        <label align="center" style="background:none;color:#EEEEEE;border:0px;font-size:22px;font-weight:bold;position:fixed;left:10px;bottom:20px;" onmousedown="window.history.go(-1); return false;">
            <<
        </label>
    </body>

</html>