<html lang=”en”>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">

        <!-- Name of the app -->
        <title>foto</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="static/css/roll.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <script type="text/javascript" src="static/js/roll.js"></script>
        <link rel="shortcut icon" href="">

    </head>

    <body id="rootElement">
        <!-- <img id="img" style="visibility:hidden;" src={{ img_path }} /> -->
        <ul>
            <!-- For loop logic of jinja template -->
            {%for i in range(0, nframes)%}
            
            <li><img src="{{imgs[i]}}"></li>
            <li><label>{{films[i]}}</label></li>
            <li><label>{{isos[i]}}</label></li>
            <li><label>{{speeds[i]}}</label></li>
            <li><label>{{apertures[i]}}</label></li>
            <li><p style="height:50px"></li>
            
            {%endfor%}
                
         </ul>

         
        <label align="center" style="background:none;color:#CCCCCC;border:0px;font-size:22px;font-weight:bold;position:fixed;left:10px;bottom:20px;" onmousedown="window.location.href='/foto'">
            <<
        </label>
    </body>

</html>
