<html lang=”en”>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">

        <!-- Name of the app -->
        <title>foto</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="static/css/session.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <script type="text/javascript" src="static/js/session.js"></script>
        <script type="text/javascript" src="static/js/webcam.min.js"></script>
        <link rel="shortcut icon" href="">

    </head>

    <body id="rootElement">
        <!-- <img id="img" style="visibility:hidden;" src={{ img_path }} /> -->

        <div id="player"></div>

        <ul>
           
            <li class="mainList">
                <form id="form">
                    <input type="text" id="userName" name="userName" placeholder="your unique name" style="width:75%" onkeypress="return event.charCode != 32">
                    <input type="text" id="lname" name="lname" placeholder="unique roll name" style="width:75%" onkeypress="return event.charCode != 32">
                    <select id="films" name="films" style="width:75%" >
                        <option value="Kodak Portra 160">Kodak Portra 160</option>
                        <option value="Kodak Portra 400">Kodak Portra 400</option>
                        <option value="Kodak Ektar 100">Kodak Ektar 100</option>
                        <option value="Kodak Ultramax 400">Kodak Ultramax 400</option>
                        <option value="Kodak Gold 200">Kodak Gold 200</option>
                        <option value="Kodak Colorplus 200">Kodak Colorplus 200</option>
                        <option value="Kodak Tri-X 400">Kodak Tri-X 400</option>
                        <option value="Kodak T-Max 400">Kodak T-Max 400</option>
                        <option value="Ilford Delta 100">Ilford Delta 100</option>
                        <option value="Ilford Delta 400">Ilford Delta 400</option>
                        <option value="Ilford Delta 3200">Ilford Delta 3200</option>
                        <option value="Ilford FP4 Plus 125">Ilford FP4 Plus 125</option>
                        <option value="Ilford HP5 Plus 400">Ilford HP5 Plus 400</option>
                    </select>
                    <select id="iso" name="iso" style="width:75%">
                        <option value="ISO 25">ISO 25</option>
                        <option value="ISO 50">ISO 50</option>
                        <option value="ISO 100">ISO 100</option>
                        <option value="ISO 200">ISO 200</option>
                        <option value="ISO 400">ISO 400</option>
                        <option value="ISO 800">ISO 800</option>
                        <option value="ISO 1600">ISO 1600</option>
                    </select>
                    <select id="shutterspeed" name="shutter speed" style="width:75%">
                        <option value="1/1000s">1/1000s</option>
                        <option value="1/500s">1/500s</option>
                        <option value="1/250s">1/250s</option>
                        <option value="1/125s">1/125s</option>
                        <option value="1/60s">1/60s</option>
                        <option value="1/30s">1/30s</option>
                        <option value="1/15s">1/15s</option>
                        <option value="1/15s">1/15s</option>
                        <option value="1/8s">1/8s</option>
                        <option value="1/4s">1/4s</option>
                        <option value="1/2s">1/2s</option>
                        <option value="1s">1s</option>
                    </select>
                    <select id="aperture" name="aperture" style="width:75%">
                        <option value="f/1.0">f/1.0</option>
                        <option value="f/1.2">f/1.2</option>
                        <option value="f/1.4">f/1.4</option>
                        <option value="f/1.7">f/1.7</option>
                        <option value="f/2">f/2</option>
                        <option value="f/2.4">f/2.4</option>
                        <option value="f/2.8">f/2.8</option>
                        <option value="f/4.0">f/4.0</option>
                        <option value="f/5.6">f/5.6</option>
                        <option value="f/8">f/8</option>
                        <option value="f/11">f/11</option>
                        <option value="f/16">f/16</option>
                        <option value="f/22">f/22</option>
                    </select>
                </form>
            </li> 

            <li class="mainList">
                <div id="my_result">
                    <canvas id="canvas"></canvas>
                </div>
            </li>
            
            <li class="mainList">
                <ul style="columns:2;-webkit-columns:2;-moz-columns:2;margin:0px">
                    <li>
                        <label class="mylabel" id="snap-button" align="center">
                            SHOOT!
                        </label>
                    </li>
        
                    <li>
                        <label class="mylabel" id="save-button" align="center">
                            SAVE
                        </label>
                    </li> 
                </ul>
            </li>
        </ul>


        <label align="center" style="background:none;color:#EEEEEE;border:0px;font-size:22px;font-weight:bold;position:fixed;left:10px;bottom:20px;" onmousedown="window.history.go(-1); return false;">
            <<
        </label>
    </body>

</html>